.sidebar {
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    background-color: var(--bg-inverted);
    height: calc(100vh - var(--header-h));
    width: var(--sidebar-w-close);

    &__control {
        flex-grow: 1;
    }

    &__open {
        width: var(--sidebar-w-open);
    }

    &__settings {}
}