.app.default {
    --bg: #fce9e4;
    --bg-inverted: #1c1e26;

    --primary: #d85170;

    --secondary: #d85170;
}

.app.dark {
    --bg: #011529;
    --bg-inverted: #504f54;

    --primary: #72e5bd;

    --secondary: #009a9a;
}