.app.default {
    --bg: #fce9e4;
    --bg-inverted: #1c1e26;
    --primary: #d85170;
    --secondary: #d85170;
}

.app.dark {
    --bg: #011529;
    --bg-inverted: #dadada;
    --primary: #6449ac;
    --secondary: #009a9a;
}